textarea {
    resize: none;
    width: 180px;
    height: 90px;
}

body {
    margin: 0;
    padding: 10px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #f2f2f2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    min-height: 300px;
    height: 100%;
    box-sizing: border-box;
    margin: auto;
}



.form.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

}

form > div {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 15px;
}

.form.row label {
    width: 90px;             
    margin-right: 10px;
    text-align: right;  
  
}
.file-input {
    width: 162px;
}

label + input {
    border: 1px solid #aaa;
}

label ~ input {
    background-color: lightgray;
}

#postBody {
    border: 1px solid #000000;
}


.createPost {
    background-color: rgb(0, 65, 163);
    color: white;
    
}
.createPost:hover {
    background-color: rgb(0, 90, 200);
}

@media (max-width: 600px) {
    textarea,
    .file-input {
    width: 100%;
}
    .container {
        width: 90%;
        height: auto;
    }

    .form.row {
        flex-direction: column;
        align-items: flex-start;
    }

    .form.row label {
        text-align: left;
        margin-bottom: 5px;
    }

    .createPost {
        width: 100%;
        text-align: center;
    }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown img {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  min-width: 150px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
  border-radius: 8px;
  overflow: hidden;
  z-index: 9999;
}

.dropdown-content a {
  color: black;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}